/* MEDIA QUERIES */

@media (min-width: 992px) {
    .school-name span {
        display: flex;
    }

    .responsive-modal {
        max-width: 60%;
    }

    .custom-button {
        font-size: 1.3rem;
        padding: 0.5rem 2rem;
    }

    .overlay-text-container h1 {
        font-size: 2.5rem !important;
    }

    .overlay-text-container p {
        font-size: 1.2rem !important;
    }

    #core-values {
        min-height: 820px !important;
    }

    .why-sscm-section {
        min-height: 820px !important;
    }

    .admin-member .card-img-top, .card-body {
        height: 400px;
        width: 300px; 
    }

    .team-member .card-img-top, .card-body {
        width: 250px; 
        height: 317px;
    }
    .team-member .card-sub-title, .team-member .card-title {
        font-size: 1.4rem !important;
    }
    
}

@media (max-width: 992px) {
    .navbar-container .navbar-brand img {
        max-width: 70px; /* Reduce logo size */
    }
    .navbar-container .school-name {
        font-size: larger; /* Slightly reduce font size */
    }

   
    .custom-button {
        font-size: 0.8rem !important;
    }
    .overlay-text-container h1 {
        font-size: 1.8rem;
    }
    .overlay-text-container p {
        font-size: 0.9rem;
    }

    .blockquote i {
        font-size: 40px;
    }
    #about-us-page-image {
        background-position: center right 22% !important;
    }

    .about-hero-section {
        height: 55vh !important; /* less height */
        background-position: left !important; /* so it'll show part of image that i want*/
    }
    .programs-hero-section {
        height: 55vh !important; /* less height */
        background-position: center !important; /* so it'll show part of image that i want*/
    }
    .carousel-hero-section {
        height: 55vh !important; /* less height */
        background-position: center !important; /* so it'll show part of image that i want*/
    }

    .responsive-modal {
        max-width: 70%;
    }

    .why-sscm-section p {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        font-size: 1.2rem !important;
    }

    .admin-member .card-img-top, .card-body {
        height: 300px;
        width: 250px; 
    }

    .team-member .card-img-top, .card-body {
        height: 200px;
        width: 200px; 
    }

    .team-member .card-text {
        display: none;
    }
}

@media (min-width: 769px) {
    .video-overlay {
        width: 33.3% !important;
    }

    .custom-button {
        margin-top: 1rem !important;
    }

    .why-sscm-section {
        max-height: 800px;
    }

    .why-sscm-section p {
        margin-bottom: 0 !important;
    }

    
}


@media (max-width: 768px) {
    .navbar-container .navbar-brand img {
        max-width: 50px; /* Further reduce logo size */
    }

    .custom-button {
        font-size: 1.2rem !important;
        padding: 0.3rem 1rem !important;
        margin-top: 1rem !important;
        
    }
    .overlay-text-container {
        max-width: 60% !important;
        text-align: center !important;
    }
    .overlay-text-container h1 {
        font-size: 3rem;
    }
    .overlay-text-container p {
        font-size: 1.3rem;
    }

    #about-us-quote {
        max-height: 100px !important;
    } 
    .contact-text p, .form-control, .btn-primary {
        padding: 10px 0; 
        margin-bottom: 0.5rem; 
    }
    .btn-primary {
        padding: 10px 20px; 
    }

    .responsive-modal {
        max-width: 80%;
    }

    .pop-up-carousel {
        margin: 10px !important;
        width: calc(100% / 10) !important;
        height: calc(100% / 5) !important;
    }

    #core-values p {
        font-size: 19px !important;
    }

    .team-member .card-sub-title, .team-member .card-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .navbar-container .navbar-brand img {
        max-width: 45px; /* Slightly smaller logo for very small devices */
    }
    .navbar-container .school-name {
        font-size: small; /* Reduce font size to maintain readability and spacing */
    }
    .banner {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .banner h1 {
        margin: 0;
        font-size: 1.5rem;
    }
    .custom-button {
        font-size: 0.6rem !important;
        padding: 0.4rem 0.8rem !important;
        align-self: center !important;
    }
    .overlay-text-container {
        max-width: 60% !important;
        text-align: center !important;
    }
    .overlay-text-container h1 {
        font-size: 1.5rem;
    }
    .overlay-text-container p {
        font-size: 0.8rem;
    }

    #testimonials-quote p, strong{
        font-size: medium;
    }
    #testimonials-quote {
        padding-right: 55px;
        padding-left: 55px;
    }
    .blockquote  i {
        font-size: 22px;
    }
    #about-us-quote .blockquote-footer {
        font-size: 13px;
    }
    #about-us-page-image {
        background-position: center right 46% !important;
    }

    .about-hero-section  {
        height: 45vh !important; /* even less height for mobile */
        background-position: center left 40% !important; /* so it'll show part of image that i want*/
    }
    .programs-hero-section {
        height: 45vh !important; /* even less height for mobile */
        background-position: center right 42% !important; /* so it'll show part of image that i want*/
    }
    .carousel-hero-section {
        height: 45vh !important; /* less height */
    }

    .map-container {
        padding-top: 125%; 
    }
    #school-name {
        display: none;
    }
    #contact-us {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .responsive-modal {
        max-width: 90% !important;
        margin: 0 18px !important;
    }

    .why-sscm-section button {
        display: none;
    }

    .why-sscm-section p {
        padding-left: 8px !important;
        padding-right: 8px !important;
        font-size: 15px !important;
    }
    .why-sscm-section h1 {
        padding-bottom: 10px !important;
    }

    .why-sscm-section {
        min-height: 600px !important;
    }

    #core-values p {
        font-size: 15px !important;
    }

    .admin-member .card-img-top {
        height: 230px;
        width: 170px;
    }

    .team-member .card-img-top {
        height: 120px;
        width: 120px; 
    }
    .team-member .card-img-top, .card-body {
        width: 120px; 
        height: 120px;
    }

    #the-team {
        padding-bottom: 24px !important;
    }

    .team-member .card-sub-title, .team-member .card-title {
        font-size: 0.9rem;
    }

    .admin-member .card-text {
        display: none;
    }

}


/* Media queries end */





/* ------------------------------- HOME PAGE CSS ----------------------------------*/
.navbar-brand img {
    max-width: 95px;
    height: auto;
    transition: max-width 0.3s ease-in-out; 
}

.school-name {
    transition: font-size 0.3s ease-in-out; 
}

/* Hero video container and hero image containers*/
.school-name {
    color: #212529; 
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: -0.45px;
}

.nav-item, .dropdown-item {
    color: #212529;
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: bold;
}

.hero-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-video-container video {
    width: 100%;
    height: auto;
    display: block;
}

/* Hero video overlay and text */
.modal-header {
    border-bottom: none;
}

.header-logo {
    margin-left: 12px;
}

.hero-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 14, 2, 0.808);
}


.overlay-text-container {
    text-align: left;
    max-width: 80%;
}

.overlay-text-container h1, .overlay-text-container p {
    margin: 0;
    padding: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;
}

.custom-button {
    background-color: #ff6e5a;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    background-color: #e65640;
    color: #ffffff;
}



/*About*/ 


.why-sscm-section {
    position: relative;
    overflow: hidden; /* Ensures no overflow of the content */
}


.sccm-text-overlay  {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.pastel-background {
    background-color: #ffc09c;
    margin-right: 0;
}

.black-heading {
    color: #212529;
    font-weight: bold;
}


/*Testimonials*/
.carousel-item .quote {
    height: 200px;  /* Adjust the height based on your content and design needs */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* This will vertically center the text in the div */
}

#testimonials-carousel {
    background-color: #ff6e5a;
}

.carousel-indicators {
    list-style: none;
}



/* ---------------------------- ABOUT PAGE CSS ----------------------------------*/

.about-hero-section {
    background-size: cover;
    background-position: center bottom 10%;
    transition: height 0.5s ease-in-out;
    height: 75vh;
}

#about-us-quote {
    background-color: #a84247;
}

.about-text, .staff-text, .programs-text, .gallery-text, .sccm-text-overlay p, #core-values p {
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    font-weight: normal;
    line-height: 25.5px;
}

.staff-text, .programs-text, .sccm-text-overlay p {
    text-align: center;
    line-height: 20.5px;
}

#about-us-quote p {
    font-size: 50px;
    font-family: serif;
    color: rgb(241, 219, 219);
}

#about-us-page-image {
    background-size: cover;
    background-position: center;
    min-height: 464px;
}

/* Meet the Team Section */

.staff-container {
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

#the-team .card-text {
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    font-weight: normal;
}

.card {
    border: none;
    padding: 0;
   
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.member-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.admin-member .card-img-top { 
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.team-member .card-img-top { 
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* ----------CONTACT US PAGE AND MAP---------------------------------------*/
.contact-text p{
    font-weight: bold;
    color: #d3d4d5; 
}


#school-name {
    font-weight: bold;
    color: #ff6e5a;
}

.form-control {
    border-radius: 0rem; 
    margin-bottom: 1rem; 
}

.btn-primary {
    border: none;
    border-radius: 0rem;
    background-color: #ff6e5a;
    padding: 0.5rem 1.5rem; 
}

.custom-button-text { 
    font-weight: bold;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #e65640;
}

/* CONTACT US PAGE MAP */
.map-background {
    background-color: #ff6e5a;
    padding: 20px 0px; /*How much of the surrounding space of the map is orange*/
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
}

#contact-us {
    background-color: rgb(33, 37, 41);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.custom-light-text {
    color: #ffffff !important;
}

/*--------------------PROGRAMS SECTION---------------------------------------*/


.programs-hero-section {
    background-size: cover;
    background-position: center top 30%;
    transition: height 0.5s ease-in-out;
    height: 75vh;
}

.orange-background { /*THIS IS FOR ALSO FOR THE BACKGROUND FOR GALLERY DESCRIPTION SECTION*/
    background-color: #ff6e5a;
}

.display-2 { /*THIS IS FOR ALL THE STATIC HERO SECTIONS TITLES TO BE BOLDER*/
    font-weight: 600;
}

.programs-image {
    padding: 0;
}

.orange-headings {
    color: #ff6e5a;
    font-weight: bold;
}

/* ------------------------------------ GALLERY SECTION ------------------------------------------- */
.carousel-hero-section {
    height: 75vh; 
    overflow: hidden; 
}

.carousel-hero-section .carousel-item img {
    min-height: 75vh; 
    object-fit: cover; 
}

.carousel-padding {
    padding: 0;
}

.clickable-element {
    cursor: pointer;
}

.responsive-modal {
    max-width: 100%;
    width: 100%;
}

.top-right-close {
    position: absolute;
    z-index: 1050;
    top: 0px;
    right: 0px;
    background-color: rgba(245, 245, 245, 0.247);
    border-radius: 0;
    border: none;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    width: calc(100% / 20);
    height: calc(100% / 12);
}

.top-right-close:hover {
    background-color: rgba(245, 245, 245, 0.877);
}

.pop-up-carousel {
    width: calc(100% / 20);
    height: calc(100% / 10);
    top: 50%;
    transform: translateY(-50%);
    
}

.pop-up-carousel:hover {
    background: rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
}

.custom-indicators li {
    border-radius: 50%;
    width: 1vw !important;
    height: 1vw !important;
}













