{% extends 'base.html' %}

{% block content %}


<header id="carousel-controls" class="hero-section carousel-hero-section bg-cover bg-no-repeat bg-center text-white d-flex justify-content-center align-items-center carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      {% for image in all_images %}
      <div class="carousel-item {% if loop.first %}active{% endif %}">
          <img src="{{ url_for('static', filename=image) }}" class="d-block w-100" alt="Student and faculty gallery images throughout the years of SCCM.">
      </div>
      {% endfor %}
        <!---OVERLAY GALLERY HEADING TEXT-->
        <div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100">
            <div class="hero-text text-center">
                <h1 class="display-2">Gallery</h1>
            </div>
        </div>
        <!---->
    </div>
</header>


<section class="py-5">
    <div class="container px-4">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
                <p class="text-justify gallery-text text-center">
                    At Soundscapes Conservatory of Music, we take pride in presenting a vibrant array of over 200 yearly events that span from engaging concerts to dynamic musical celebrations. Each event is thoughtfully curated to spark inspiration, provide entertainment, foster connections, and expand the horizons of our community. We believe music serves as a universal bridge, bringing together individuals within New York City, facilitating meaningful interactions with our conservatory, and amongst one another.
                </p>
                <h4 class="text-justify text-center my-2 orange-headings">
                    Check out some of our photo albums below!
                </h4>
            </div>
        </div>
    </div>
</section>

<section class="container pb-5" id="gallery">
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    {% for album in albums %}
    <div class="col">
      <img src="{{ url_for('static', filename=album.cover_image) }}" alt="{{ album.name }}" data-bs-toggle="modal" data-bs-target="#album-modal-{{ loop.index }}" class="img-thumbnail clickable-element">
      <p class="text-dark"> {{ album.name }}</p>
    </div>
    {% endfor %}
  </div>
</section>

{% for album in albums %}
<div class="modal fade" id="album-modal-{{ loop.index }}" aria-labelledby="carousel-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered responsive-modal">
        <div class="modal-content">
                <button type="button" class="btn-close btn-close-white top-right-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-0">
                <div id="carousel-album-{{ loop.index }}" class="carousel slide carousel-fade" data-bs-interval="false">
                    <div class="carousel-inner">
                      {% for image in album.images %}
                      <div class="carousel-item {% if loop.first %}active{% endif %}">
                          <img src="{{ url_for('static', filename=image) }}" class="d-block w-100" alt="{{ album.name }}">
                      </div>
                      {% endfor %}
                    </div>
                    <button class="carousel-control-prev pop-up-carousel mx-5" type="button" data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next pop-up-carousel mx-5" type="button" data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                    <ol class="carousel-indicators custom-indicators">
                        <li data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide-to="4"></li>
                        <li data-bs-target="#carousel-album-{{ loop.index }}" data-bs-slide-to="5"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}